@page
@model VehiTrans.App.Frontend.Pages.JefeOperacionesModel
@{
}
<h2>Lista de JefeOperacioness</h2>

<a asp-page="./RegJefeOperaciones" class="btn btn-primary">Registrar</a>

<br><br>

<form method="get">
    <div class="form-group">
        <p>
            JefeOperaciones: <input type="text" name="filtroBusqueda" asp-for="FiltroBusqueda"/>
            <input type="submit" value="Filtrar" class="btn btn-primary"/>
        </p>
    </div>
</form>

<table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">Documento</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Telefono</th>
            <th scope="col">Correo</th>
            <th scope="col"></th>
            
        </tr>
    </thead>
    @foreach (var JefeOperaciones in Model.ListaJefeOperaciones)
    {
        <tr>
            <td>@JefeOperaciones.Documento</td>
            <td>@JefeOperaciones.Nombre</td>
            <td>@JefeOperaciones.Apellidos</td>
            <td>@JefeOperaciones.Telefono</td>
            <td>@JefeOperaciones.Correo</td>
            <td>
                <a class="btn btn-primary table-btn" asp-page="./EditJefeOperaciones" asp-route-JefeOperacionesId="@JefeOperaciones.JefeOperacionesId">
                    <i class="fas fa-address-book fa-lg" aria-hidden="true"> </i>
                    Editar
                </a>
            </td>
            <td>
                <form method="post" asp-page-handler="Delete" asp-route-id="@JefeOperaciones.JefeOperacionesId">
                    <button class="btn btn-danger">Borrar</button>
                </form>
            </td>
        </tr>
    }
</table>
